[Unit]
Description=XTTS API Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/sewa/installed/xtts-api-server
ExecStart=/home/sewa/installed/xtts-api-server/run.sh

[Install]
WantedBy=multi-user.target 